/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    /* Esto es para resetear los margenes y padings a traves de todos los browsers. */
    margin: 0;
    padding: 0;
    /* Lo que hace border box es basicamente que la caja tenga un tamanio, y que lo que le agregues de pading o margin sea por afuera del tamanio...no es parte;
    es decir que una caja de 350px con un borde de 10px, va a tener 360px de tamanio. */
    box-sizing: border-box;
}

body {
    /* La familia importada de Google Fonts, y en caso de que no ande, usar un sans-serif. */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* 1.7 veces mas grande que el default. */
    line-height: 1.7;
    color: #777;
    /* Para darle un padding a toda la pagina y darle ese margen blanco. */
    padding: 30px;
}

.header {
    /* EL tamanio que va a ocupar la imagen es un 95% */
    height: 95vh;
    /* Mapa de degradado con linear gradient, y con "to right" es la direccion. Si le pones bottom, hace diagonal para abajo. El 0.8 es la opacidad del color*/
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8), 
        rgba(40, 180, 131, 0.8)),
         url(../img/hero.jpg);         
    /* El cover hace que a medida que vayas achicando y agrandando acompanie horizontalmente */
    background-size: cover;
    /* El position top hace que la imagen se cropee desde abajo, quedando fijo lo de arriba para cuando haces resize de la ventana. */
    background-position: top;
    position: relative;
    /* Para darle el corte en diagonal se usa el clip-path y generamos un poligono para cortarlo. Son coordenadas X-Y de izquierda a derecha, de arriba hacia abajo. */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)
    
}

.logo-box{
    /* Pones la caja del div que tiene la imagen como absoluto, y a su elemento padre (Header) como relativo. */
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo{
    height: 35px;
}

.heading-primary{
    color: #ffff;
    text-transform: uppercase;    
}

.heading-primary-main{
    /* Como queremos que los dos titulos esten uno arriba del otro, los ponemos como block (Ocupa toda la linea cada elemento.) */
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 20px;
}